<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
</head>

<body>
  <h1>Home Page</h1>
  <hr>
  <h1>Cart</h1>

  <form action="/home" method="post">
    <button type="submit" name="item" value="banana|-2">-</button> Banana <button type="submit" name="item"
      value="banana|2">+</button>
    {{ !-- Quantity : {{counter.banana.[2] }}   --}}
    <hr>
    <button type="submit" name="item" value="mango|-3">-</button> Mango <button type="submit" name="item"
      value="mango|3">+</button>
    {{ !-- Quantity : {{counter.mango.[3] }} --}}
    <hr>
    <button type="submit" name="item" value="apple|-1">-</button> Apple <button type="submit" name="item"
      value="apple|1">+</button>
    {{ !-- Quantity : {{counter.apple.[1] }} --}}
    <hr>
    <button type="submit" name="item" value="kiwi|-4">-</button> Kiwi <button type="submit" name="item"
      value="kiwi|4">+</button>
    {{ !-- Quantity : {{counter.kiwi.[4] }} --}}
    <hr>
  </form>
  {{!-- 
     <h2>Current Counts:</h2>
  <ul>
    {{ #each counter }}
      <li>
        {{ #each this }}
          {{ @key }}: {{ this }}
        {{ /each }}
      </li>
    {{ /each }}
  </ul> --}}

  <a href="/logout">Log Out</a>
</body>

</html>